$ORIGIN {{reverse_dns}}.   ; Zone starting point in the name-space tree
                     ; (if skipped - the origin is inferred by the DNS server based on
                     ; zone declaration in name.conf.local file
$TTL 15M             ; Default expiration time for all resources
@ IN SOA ns1.{{dns_zone}}. root.{{dns_zone}}. (
 {{dns_serial}}       ; {{dns_serial}}
        15M       ; Refresh (15 minutes)
        5M        ; Retry (5 minutes)
        604800    ; Expire (7 days in seconds)
        600 )     ; Negative Cache TTL
@              IN      NS      ns1.
{{last_octet}}            IN      PTR     {{dns_zone}}.
